:host {
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/people_talking.jpg') !important;
  background-size:cover;
  // background-position: center center;
  background-repeat: no-repeat;

/*   display: flex;
  justify-content:center;
  align-items: center; */
}
